@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 222.2 47.4% 11.2%;

  --card: 0 0% 100%;
  --card-foreground: 222.2 47.4% 11.2%;

  --popover: 0 0% 100%;
  --popover-foreground: 222.2 47.4% 11.2%;

  --primary: 142.1 76.2% 36.3%;
  --primary-foreground: 355.7 100% 97.3%;

  --secondary: 240 4.8% 95.9%;
  --secondary-foreground: 222.2 47.4% 11.2%;

  --muted: 240 4.8% 95.9%;
  --muted-foreground: 240 3.8% 46.1%;

  --accent: 240 4.8% 95.9%;
  --accent-foreground: 222.2 47.4% 11.2%;

  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 210 20% 98%;

  --border: 240 5.9% 90%;
  --input: 240 5.9% 90%;
  --ring: 240 5% 64.9%;

  --radius: 0.5rem;
}

.dark {
  --background: 222.2 84% 4.9%;
  --foreground: 210 40% 98%;

  --card: 222.2 84% 4.9%;
  --card-foreground: 210 40% 98%;

  --popover: 222.2 84% 4.9%;
  --popover-foreground: 210 40% 98%;

  --primary: 142.1 70.6% 45.3%;
  --primary-foreground: 144.9 80.4% 10%;

  --secondary: 217.2 32.6% 17.5%;
  --secondary-foreground: 210 40% 98%;

  --muted: 217.2 32.6% 17.5%;
  --muted-foreground: 215 20.2% 65.1%;

  --accent: 217.2 32.6% 17.5%;
  --accent-foreground: 210 40% 98%;

  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 210 40% 98%;

  --border: 217.2 32.6% 17.5%;
  --input: 217.2 32.6% 17.5%;
  --ring: 212.7 26.8% 83.9%;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.bg-special {
  background-color: #1a1a1a;
}

.bg-special-inside-green {
  background: linear-gradient(136deg, #2f4138 0%, rgb(0 0 0 / 40%) 100%);
  border: 1px #2f2f2f solid;
}

.bg-special-input-green {
  background: rgb(33 40 37);
  /* box-shadow: 0px 1px 9.1px rgb(6 6 6 / 0%), inset 6px 7px 8px rgb(22 22 22); */
  border-radius: 5px;
  border: 1px #3b3b3b solid;
}

.bg-special-inside {
  background: linear-gradient(178deg, #252525 0%, rgb(15 15 15) 100%);
}

.bg-special-cat {
  background: #181818;
  box-shadow: inset 0px 12px 9.1px rgba(48, 59, 43, 0.3),
    0px 4px 8px rgba(78, 78, 78, 0.3) inset;

  border: 1px #222222 solid;
}

.bg-special-input {
  background: #181818;
  box-shadow: 0 4px 8px rgb(0 0 0 / 12%),
    inset 0 12px 9.100000381469727px rgb(18 18 18 / 30%);
  border: 1px #222222 solid;
  height: 45px;
}

@font-face {
  font-family: 'Fustat';
  src: url('/fonts/fustat-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fustat';
  src: url('/fonts/fustat-semibold.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* optional: class or global usage */
body {
  font-family: 'Fustat', sans-serif;
}


@keyframes modalFadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.modal-content {
  animation: modalFadeIn 0.3s ease-out;
}