@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 222.2 47.4% 11.2%;

  --card: 0 0% 100%;
  --card-foreground: 222.2 47.4% 11.2%;

  --popover: 0 0% 100%;
  --popover-foreground: 222.2 47.4% 11.2%;

  --primary: 142.1 76.2% 36.3%;
  --primary-foreground: 355.7 100% 97.3%;

  --secondary: 240 4.8% 95.9%;
  --secondary-foreground: 222.2 47.4% 11.2%;

  --muted: 0 0% 80%;
  --muted-foreground: 0 0% 90%;

  --accent: 240 4.8% 95.9%;
  --accent-foreground: 222.2 47.4% 11.2%;

  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 210 20% 98%;

  --border: 240 5.9% 90%;
  --input: 240 5.9% 90%;
  --ring: 240 5% 64.9%;

  --radius: 0.5rem;
}

.dark {
  --background: 222.2 84% 4.9%;
  --foreground: 210 40% 98%;

  --card: 222.2 84% 4.9%;
  --card-foreground: 210 40% 98%;

  --popover: 222.2 84% 4.9%;
  --popover-foreground: 210 40% 98%;

  --primary: 142.1 70.6% 45.3%;
  --primary-foreground: 144.9 80.4% 10%;

  --secondary: 217.2 32.6% 17.5%;
  --secondary-foreground: 210 40% 98%;

  --muted: 217.2 32.6% 17.5%;
  --muted-foreground: 215 20.2% 65.1%;

  --accent: 217.2 32.6% 17.5%;
  --accent-foreground: 210 40% 98%;

  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 210 40% 98%;

  --border: 217.2 32.6% 17.5%;
  --input: 217.2 32.6% 17.5%;
  --ring: 212.7 26.8% 83.9%;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.bg-special {
  background: rgba(0, 0, 0, 0);
}

.bg-special-inside-green {
  background: rgba(83, 83, 83, 0.3);
  backdrop-filter: blur(40px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: inset 0px 0px 20px rgba(255, 255, 255, 0.1),
    0px 0px 10px rgba(0, 0, 0, 0.1);
}

.bg-special-input-green {
  margin-bottom: 10px;
  width: 100%;
  background: rgba(255, 255, 255, 0.15);
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 16px;
  letter-spacing: 1px;
  color: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

.bg-special-inside {
  background: rgba(255, 255, 255, 0.11);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: inset 0px 0px 20px rgba(255, 255, 255, 0.1),
    0px 0px 10px rgba(0, 0, 0, 0.1);
}

@font-face {
  font-family: 'Fustat';
  src: url('/fonts/fustat-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fustat';
  src: url('/fonts/fustat-semibold.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Space Grotesk', sans-serif;
  src: url('/fonts/SpaceGrotesk-Medium.ttf') format('ttf');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Space Grotesk', sans-serif;
  src: url('/fonts/SpaceGrotesk-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.spaceGrotesk {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.spaceGroteskM {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 500;
  font-style: normal;
}

/* optional: class or global usage */
body {
  font-family: 'Fustat', sans-serif;

}

@keyframes modalFadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.modal-content {
  animation: modalFadeIn 0.3s ease-out;
}

.liquid-ether-container {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100%;
  background-color: #000;
  position: fixed !important;
  top: 0;
  left: 0;
  z-index: -1;
  pointer-events: none;
}

.star-border-container {
  display: inline-block;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  padding: 3px;
}

.inner-content {
  position: relative;
  border-radius: 17px;
  color: white;
  font-size: 16px;
  text-align: center;
  padding: 16px 26px;
  border: none;
  z-index: 1;
}

.border-gradient-bottom {
  position: absolute;
  width: 300%;
  height: 50%;
  opacity: 0.7;
  bottom: -12px;
  right: -250%;
  border-radius: 50%;
  background: radial-gradient(
    ellipse at center,
    rgba(255, 255, 255, 0.4) 0%,
    rgba(255, 255, 255, 0) 70%
  );
  animation: star-movement-bottom 3s linear infinite alternate;
  z-index: 0;
}

.border-gradient-top {
  position: absolute;
  opacity: 0.7;
  width: 300%;
  height: 50%;
  top: -12px;
  left: -250%;
  border-radius: 50%;
  background: radial-gradient(
    ellipse at center,
    rgba(255, 215, 0, 0.8) 0%,
    rgba(255, 255, 255, 0.3) 20%,
    rgba(255, 255, 255, 0) 70%
  );
  animation: star-movement-top 3s linear infinite alternate;
  z-index: 0;
}

@keyframes star-movement-bottom {
  0% {
    transform: translate(0%, 0%);
    opacity: 1;
  }
  100% {
    transform: translate(-100%, 0%);
    opacity: 0;
  }
}

@keyframes star-movement-top {
  0% {
    transform: translate(0%, 0%);
    opacity: 1;
  }
  100% {
    transform: translate(100%, 0%);
    opacity: 0;
  }
}

.bg-special-input::placeholder {
  color: #fff;
}

.bg-special-input {
  margin-bottom: 10px;
  background: rgba(255, 255, 255, 0.11);
  outline: none;
  padding: 15px 10px;
  background: rgba(92, 21, 0, 0.18);
  border-radius: 10px;
  border: 1px rgba(255, 255, 255, 0.20) solid;
  color:#fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

.special-glass {
  margin-bottom: 10px;
  background: rgba(255, 255, 255, 0.11);
  outline: none;
  padding: 10px 20px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 14px;
  letter-spacing: 1px;
  color: #fff;
  border-radius: 10px;
  /*box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);*/
}

.special-glass-cat {
  background: rgba(255, 255, 255, 0.13);
  outline: none;
  padding: 10px 20px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-right: 1px solid rgba(255, 255, 255, 0.4);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  font-size: 14px;
  letter-spacing: 1px;
  color: #fff;
  border-radius: 60px;
  box-shadow: inset 0px 0px 10px rgba(255, 255, 255, 0.2);
  /* box-shadow: inset 0px 12px 9.1px rgba(48, 59, 43, 0.3),
    0px 4px 8px rgba(78, 78, 78, 0.3) inset; */
}

/*.form .inputBox input[type="submit"] {
	background: #fff;
	color: #666;
	max-width: 100px;
	cursor: pointer;
	margin-bottom: 20px;
	font-weight: 600;
}*/

.button--glass {
  border-radius: 56px !important;
  z-index: 1;
  backdrop-filter: blur(6px);
  color: #ffffff;
  cursor: pointer;

  overflow: hidden;
  background: radial-gradient(
    214.46% 115.1% at 51.74% 16.04%,
    rgba(190, 190, 190, 0) 0%,
    rgba(116, 128, 150, 0.1) 58.65%,
    rgba(214, 218, 227, 0.05) 100%
  );
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5) !important;
  /* box-shadow: -4px -4px 24px 0 rgba(149, 159, 165, 0),
    0 0.7px 0 0 rgba(255, 255, 255, 0.6) inset,
    0 2px 2px 0 rgba(81, 95, 105, 0.3) inset,
    -1px 0 0 0 rgba(255, 255, 255, 0.45) inset,
    1px 0 0 0 rgba(255, 255, 255, 0.45) inset,
    0 -0.7px 0 0 rgba(255, 255, 255, 0.45) inset,
    0 2px 3px 1px rgba(255, 255, 255, 0.2) inset,
    0 -4px 8px 0 rgba(255, 255, 255, 0.25) inset,
    0 4px 12px 0 rgba(34, 45, 52, 0.19); */
}

.button--glass::before {
  content: '';
  position: absolute;
  transition: all ease-in-out 0.15s;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 70%;
  height: 20px;
  background-color: #ffffff;
  border-radius: 100%;
  filter: blur(10px);
  z-index: 2;
  opacity: 0.3;
  transform-origin: bottom;
}

.button--glass:active,
.button--glass:focus {
  background-color: rgba(255, 255, 255, 0.3);
  transition: ease-in-out all 0.15s;
  /* box-shadow: -4px -4px 24px 0 rgba(149, 159, 165, 0.2),
    0 0.7px 0 0 rgba(255, 255, 255, 0.6) inset,
    0 2px 2px 0 rgba(81, 95, 105, 0.3) inset,
    -1px 0 0 0 rgba(0, 0, 0, 0.24) inset, 1px 0 0 0 rgba(0, 0, 0, 0.45) inset,
    0 -0.7px 0 0 rgba(255, 255, 255, 0.45) inset,
    0 2px 3px 1px rgba(255, 255, 255, 0.2) inset,
    0 -4px 8px 0 rgba(255, 255, 255, 0.25) inset,
    0 4px 12px 0 rgba(34, 45, 52, 0.29); */
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.2) !important;
  color: #525252;
}
.button--glass:active::before {
  transform: scaleX(1.3) scaleY(1.4);
  opacity: 0.45;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  25% {
    transform: scale(1.03);
    opacity: 0.86;
  }
  50% {
    transform: scale(1.06);
    opacity: 0.92;
  }
  75% {
    transform: scale(1.03);
    opacity: 0.66;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.pulse {
  animation: pulse 7s ease-in-out infinite;
  will-change: transform, opacity;
}

.pulse-slow {
  animation: pulse 8s ease-in-out infinite;
  will-change: transform, opacity;
}

.glass-new {
  padding: 14px;
  background: rgba(255, 254, 254, 0.38);
  box-shadow: 0px 64px 64px -32px rgba(102, 36.72, 0, 0.56);
  overflow: hidden;
  border-radius: 16px;
  outline: 0.5px rgba(245, 239, 235, 0.4) solid;
  outline-offset: -0.5px;
  backdrop-filter: blur(50px);
  justify-content: flex-start;
  align-items: center;
}

.bg-title-result {
  background: rgba(247.64, 247.64, 247.64, 0.11);
  border-radius: 10px;
  border: 1px rgba(255, 255, 255, 0.20) solid;
  backdrop-filter: blur(5px);
  padding: 18px 24px;
}

.buttonGlass {
  width: auto;
  padding: 10px 15px;
  background: rgba(255, 255, 255, 0.23);
  border-radius: 10px;
  border: 1px rgba(247.64, 247.64, 247.64, 0.4) solid;
  backdrop-filter: blur(1.25px);
  color: white;
  font-family: 'Fustat', sans-serif;
}

.buttonGlass:hover,
.buttonGlass:active {
  background: #e58025 !important;
  border-radius: 10px;
  border: 1px rgba(247.64, 247.64, 247.64, 0.4) solid;
  backdrop-filter: blur(1.25px);
}

.bg-glass-background2 {
  background: rgba(255, 255, 255, 0.25);
  border-radius: 15px;
  border: 1px rgba(255, 255, 255, 0.2) solid;
  backdrop-filter: blur(11.55px);
}

.bg-glass-background1 {
  background: linear-gradient(
    91deg,
    rgba(165.5, 123.17, 44.56, 0.17) 0%,
    rgba(255, 255, 255, 0.17) 47%,
    rgba(69.88, 63.25, 45.02, 0.17) 100%
  );
  box-shadow: 0px 27px 53px rgba(0, 0, 0, 0.14);
  border-radius: 20px;
  border: 1px rgba(255, 255, 255, 0.25) solid;
  backdrop-filter: blur(5px);
}


.tab-button {
  width: auto;
  padding: 10px 20px;
background: rgba(255, 255, 255, 0.23);
  border-radius: 10px 10px 0px 0px;
  border: 1px rgba(247.64, 247.64, 247.64, 0.4) solid;
  backdrop-filter: blur(1.25px);
  color: white;
  font-family: 'Fustat', sans-serif;
}
.tab-button.active {
  @apply bg-gradient-to-r from-orange-500 to-orange-400 text-white;
}